body{
  background-color:black;
  color :#FFCCBC;
  font-family:Merriweather, serif;
  text-align:center;
}
h1{
  color: white;
  text-shadow: 2px 2px 4px teal,0 0 5px teal;
  font-size:25px;
}
img{
  border-radius:35%;
    width:100px;
}
.menu{
  list-style:none;
  <link href:"https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">;
  font-family:cursive;
  top:10px;
  right:30;
  cursor:pointer;
  color:white;
}